Repository haru52/clean-user-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier --check, markdownlint, make lint-text, make lint-yml, shellcheck, eslint --cache, actionlint

build(npm): update dependencies
  package-lock.json
  package.json
Due: secretlint, prettier --check

docs(README): update README.md
  README.md
Due: secretlint, prettier --check, markdownlint, make lint-text

chore(semantic-release): change the plugin order of semantic-release
  .releaserc.yml
Due: secretlint, prettier --check, make lint-yml

ci(GitHub Actions): codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

style: fix YAML style
  .github/workflows/codeql-analysis.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

test: refactor test code
  src/adapters/controllers/user-controller.test.ts
  src/usecases/user/register/user-register-interactor.test.ts
Due: secretlint, prettier --check, eslint --cache

docs(README): add the badge
  README.md
Due: secretlint, prettier --check, markdownlint, make lint-text

ci: update Release workflow
  .github/workflows/release.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

docs: move documentation files to docs/ dir
  .markdownlintignore
  .releaserc.yml
  Makefile
  README.md
  docs/CHANGELOG.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/SECURITY.md
  docs/_config.yml
Due: secretlint, prettier --check, markdownlint, make lint-text, make lint-yml

docs: update README and Contributing Guideline
  README.md
  docs/CONTRIBUTING.md
  docs/README.md
Due: secretlint, prettier --check, markdownlint, make lint-text

chore: update config files
  .markdownlintignore
  .prettierignore
Due: secretlint, prettier --check

chore: update author url of package.json
  package.json
Due: secretlint, prettier --check

build: upgrade Node.js and npm versions
  .node-version
  package-lock.json
  package.json
Due: secretlint, prettier --check

build: upgrade npm dependencies
  package-lock.json
  package.json
Due: secretlint, prettier --check

docs: update Contributing Guideline
  docs/CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint, make lint-text

Path conditions:
  secretlint: any of: *
  prettier --check: any of: *
  markdownlint: any of: *.{md,markdown}
  make lint-text: any of: *.{md,markdown}
  make lint-yml: any of: *.{yml,yaml}
  shellcheck: (any of: *.sh) or (any of: .husky/*)
  eslint --cache: any of: *.ts
  actionlint: any of: .github/workflows/*.{yml,yaml}
